:root {
  --main-color: #e2e8f0;
  --secondary-color: #f1f5f9;
  --accent-color: #ef4444;
  --header-font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
